
<div class="container mt-3">
<h1>Gist:</h1>

<table class="table table-striped mt-4">
  <thead class="table">
  <tr>
    <th><%= t('.question') %></th>
    <th><%= t('.link') %></th>
    <th><%= t('.user') %></th>
  <tr/>
  </thead>

  <%= render @gists %>

</table>

<p><%= link_to t('.back'), admin_tests_path, class:"btn btn-primary" %></p>
</div>