<div class="row justify-content-center mt-3">
<h1>Passing the <%= @test_passage.test.title %> Test</h1>

<p>Question <%= @test_passage.current_question_num %> of <%= @test_passage.questions_total_number %></p>

  <div class="progress mb-4 w-100">
    <%= content_tag :div,
                    class: 'progress-bar bg-info',
                    role: 'progressbar',
                    aria_valuenow: 'width',
                    aria_valuemin: '0',
                    aria_valuemax: '100',
                    data: { current_question: @test_passage.current_question_num,
                    questions_count: @test_passage.questions_total_number } do %>
      <%= @test_passage.current_progress %>%              
    <% end %>
  </div> 

<div class="card border-primary mb-4">

<b>
  <%= @test_passage.current_question.body %>
</b>
  <div class="form-check">
    <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
      <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>    <%= b.label %> <br>
    <% end %>
  </div>
</div>
  <p><%= form.submit 'Next', class: 'btn btn-primary' %></p>
  <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
</div>
<% end %>