<div class="container">
<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title, id: :test_title %>
  </p>

  <p>
    <%= form.label :level %>
    <%= form.number_field :level, id: :test_level %>
  </p>

  <p>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: t('helpers.select.prompt')  %>
  </p>

  <p>
    <%= form.label :visible, t('.visible') %>
    <%= form.check_box :visible, id: :test_visible %>
  </p> 

  <%= form.submit %>
<% end %>
</div>
