<div class="row justify-content-center mt-3 mx-3">

  <h2 class="mb-4"><%= t('.header') %></h2>

    <div class="mb-4">
      <%= link_to t('.new_test'), new_admin_test_path, class:"btn btn-primary" %>
      <%= link_to t('.badge'), admin_badges_path, class: "btn btn-success" %>      
    </div>

  <%= render 'shared/errors', resource: @test %>

    <div class="card border-primary">

    <table class="table table-striped md-6">
      <tr>
        <th scope="col" class="sort-by-title pointer">
          <div>
            <%= t('.title') %>
            <%= octicon 'sort-asc', class: 'text-success hide' %>
            <%= octicon 'sort-desc', class: 'text-success hide' %>
          </div>
        </th>
        <th scope="col"><%= t('.level') %></th>
        <th scope="col"><%= t('.category') %></th>
        <th scope="col"><%= t('.number') %></th>
        <th scope="col"><%= t('.visible') %></th>
        <th scope="col"><%= t('.timing') %></th>
        <th scope="col" colspan="3"><%= t('.actions') %></th>
      </tr>
    <%= render @tests %>
    </table>

    </div>

</div>
