<div class="row justify-content-center mt-3">

  <h2><%= t('.header') %></h2>

    <p>
      <%= link_to t('.new_test'), new_admin_test_path, class:"btn btn-primary" %>
    </p>

    <div class="card border-primary">

    <table class="table">
      <tr>
        <th scope="col" class="sort-by-title pointer">
          <div>
            <%= t('.title') %>
            <%= octicon 'sort-asc', class: 'text-success hide' %>
            <%= octicon 'sort-desc', class: 'text-success hide' %>
          </div>
        </th>
        <th scope="col"><%= t('.level') %></th>
        <th scope="col"><%= t('.number') %></th>
        <th scope="col" colspan="3"><%= t('.actions') %></th>
      </tr>
    <%= render @tests %>
    </table>

    </div>
</div>
