<h3><%= t('.header') %></h3>
<p>
  <strong><%= t('.title') %></strong>
  <%= @test.title %>
</p>
<p>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
</p>
<table>
  <tr>
    <th><%= t('.question') %></th>
    <th colspan='3'><%= t('.actions') %></th>
  <tr/>
  <%= render @test.questions %>
</table>


<p><%= link_to t('.new_question'), new_admin_test_question_path(@test) %></p>
<p><%= link_to t('.edit'), edit_admin_test_path(@test) %></p>
<p><%= link_to t('.back_test'), admin_tests_path %></p>