<h3><%= t('tests.index.header') %></h3>

<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.number') %></th>
    <th><%= t('.actions') %></th>
  </tr>

<%= render @tests %>
</table>

