<div class="row justify-content-center mt-3">

  <h2><%= t('tests.index.header') %></h2>

    <div class="card border-primary">

      <table class="table">
        <tr>
          <th scope="col"><%= t('.title') %></th>
          <th scope="col"><%= t('.level') %></th>
          <th scope="col"><%= t('.number') %></th>
          <th scope="col"><%= t('.actions') %></th>
        </tr>

      <%= render @tests %>
      </table>
      
    </div>

</div>


